<!DOCTYPE html>
<html lang="zh-tw">
<head>
    @{Html.RenderPartial("~/Views/PartView/_MetaView.cshtml"); }
</head>
<body>
    @{Html.RenderPartial("~/Views/PartView/_CopyRight.cshtml"); }
    <table>
        <tr>
            <td class="menu">
                @{
                    foreach (var i in CsProp.Url.Where(s => s.Enable))
                    {
                        <div class="m">
                            <a href='@(Url.Content($"~/{i.Controller}/{i.View}?{CsProp.QueryString._Transfer}={Server.UrlEncode(i.Name)}"))' class="fa fa-houzz">&nbsp;@(i.Name)</a>
                        </div>
                        foreach (var g in i.DownUrlItem.Where(s => s.Enable))
                        {
                            <div class="d">
                                <a href='@(Url.Content($"~/{g.Controller}/{g.View}?{CsProp.QueryString._Transfer}={Server.UrlEncode(g.Name)}"))' class="fa fa-link">&nbsp;@(g.Name)</a>
                            </div>
                        }
                    }
                }
            </td>
            <td class="data">
                @{Html.RenderPartial("~/Views/PartView/_Title.cshtml"); }
                <div>
                    @RenderBody()
                </div>
            </td>
        </tr>
    </table>
    <div id="dvbug"></div>
    <div id="dvdialog"></div>
    @{Html.RenderPartial("~/Views/PartView/_ScriptView.cshtml"); }
    @RenderSection("scripts", required: false)
    <script>
        /*更新股價*/
        function ustock(x) {
            $.post("@Url.Content("~/S/S_TWSE")", { cno: x }).done(function (q) {
                var hq = $(q);
                var cno = hq.find("#csvTitle2").text().split(" "),
                    csv = hq.find("#csvTable2 td");
                if (cno.length) {
                    var indt = csv.eq(5).text().replace(/年|月|日/g, "/");
                    if (Date.parse(indt)) {
                        indt = new Date(indt);
                        indt = $.addition(indt.getFullYear(), 1911) + "/" + $.addition(indt.getMonth(), 1) + "/" + indt.getDate();
                    } else { indt = null; }
                    $.post("@Url.Content("~/S/U_Stock")", {
                        cno: cno[1],
                        cname: cno[2],
                        camount: $.division($.addition(csv.eq(0).text(), csv.eq(2).text()), 2),
                        cinsdt: indt
                    });
                }
            });
        }
        $(window).on("load", function () {
            /*取消enter功能*/
            $("input").keydown(function (e) { if (e.which == 13) { e.preventDefault(); } });
            /*form validate*/
            $("form").validate();
            $.post("@Url.Content("~/S/S_StockTarget")").done(function (d) {
                if (!d.length) { return; }
                for (var i in d) { ustock(d[i]); }
            });
            $.post("@Url.Content("~/S/S_StockOnhand")").done(function (d) {
                if (!d.length) { return; }
                for (var i in d) { ustock(d[i]); }
            });
        });
    </script>
</body>
</html>
